<!doctype html>
<html>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
		
		<h1>Welcome {{ name }}!</h1>
		<a href="www.google.com">not google</a>
		<ul>
			{% for city in city_names %}
				<li>{{ city }}</li>
			{% endfor %}
		</ul>
		<form name='cityForm' id='cityForm' action='../' method='post' novalidate>
			{{ form.hidden_tag() }}

			{{ form.city.label }}<br>
			{{ form.city(maxlength=32) }}<br><br>

			{{ form.submit() }}
			
		</form>
	</body>
</html>
