<!doctype html>
<html>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
		
		<h1>Welcome {{ name }}!</h1>
		<a href="www.google.com">not google</a>
		<ul>
			{% for city in city_names %}
				<li>{{ city }}</li>
			{% endfor %}
		</ul>
		<form action="" method="POST">
			<input id="csrf_token" type="hidden">
			<label for="city">City Name</label>
			<input id="city" maxlength=32 name="city" required type="text" value="">
			<input id="submit" name="submit" type="submit" value="Submit">
		</form>
	</body>
</html>
